body {
    padding: 50px 0px 0px 0px;
    z-index: 0
}
  
.navbar-custom{
    background-color: #ffffff;
}

.navbar-custom .navbar-text{
    color: white;
    background-color: #046b2c;
    margin-top: 5px;
    padding: 5px 10px;
}

.navbar-custom .navbar-text1 {
    color: #034b1f;
    margin-top: 5px;
    margin-right: 14px;
}

.navbar-custom .navbar-nav .nav-link {
    color: #034b1f;
    margin-top: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
    background-color: #046b2c;
}

.modal-content {
    border: 0px; }
    .modal-content .modal-body {
      background: #ffffff; }
    .modal-content .modal-header {
      background: #031b0c;
      color: floralwhite;
      border: 0px; }
      .modal-content .modal-header .close {
        color: floralwhite; }